table{
	 width:230;
	 margin:50px auto;
	 background-color:red;
	 border:none;
	 border-radius:10px;
	 padding:0px 20px 20px;
	
}
.header_first{
             text-align:center;
             font-size:30px;
			font-weight:bold;
	}

#calculate,#answer{
	height:35px;
	font-size:20px;
	text-align:right;
	border:none;
	width:250px;
	
}
#calculate{
	border-radius:8px 8px 0px 0px;
	box-shadow:2px 2px 2px black;
	
}
#answer{
	border-radius:0px 0px 8px 8px;
	box-shadow:2px 2px 2px black;
	
	
}
input[type=button]{
	 width:57px;
	 height:40px;
	 font-size:25px;
	 margin:1px;
	 font-weight:bold;
	 background-color:white;
	 color:green;
	 border-radius:5px;
	 }
	 
input[type=button]:hover{
	
	background-color:yellow;
	cursor:pointer;
	
	
	
	
}